extends ../includes/layout

block content
    body
        section.hero.is-primary.is-fullheight
            .hero-body
                .container
                    .columns.is-centered
                        .column.is-5-tablet.is-4-desktop.is-3-widescreen
                            form.box(action='')
                                .field
                                    label.label(for='code') Verification Code
                                    .control.has-icons-left
                                        input.input(type='text', placeholder='Verification Code', required='', id='code', name='code')
                                        span.icon.is-small.is-left
                                            i.fa.fa-keyboard
                                .field
                                    label.label(for='newPassword') New Password
                                    .control.has-icons-left
                                        input.input(type='password', placeholder='*******', required='', id='newPassword', name='newPassword')
                                        span.icon.is-small.is-left
                                            i.fa.fa-lock
                                .field
                                    label.label(for='confirmNewPassword') Confirm New Password
                                    .control.has-icons-left
                                        input.input(type='password', placeholder='*******', required='', id='confirmNewPassword', name='confirmNewPassword')
                                        span.icon.is-small.is-left
                                            i.fa.fa-lock
                                //.field
                                    label.checkbox(for='')
                                        input(type='checkbox') Remember me
                                .field
                                    button.button.is-success.is-fullwidth.strong Change my Password!
