extends ../includes/layout

block content
    body
        include ../includes/navbar
        .container
            h1.is-size-1 Blueprint Dashboard
            p Hello #{req.user.username}!

        script(type='text/javascript', src='/bundle/bundle.js')